<div class="flex flex-wrap align-items-center justify-content-between">
  <h4 class="mb-0">Savollar</h4>
  <p-button (click)="openAddModal()" icon="pi pi-plus" label="Yangi savol" />
</div>

<hr />

<!-- filter form -->
<app-filter (onFilter)="onFilter($event)" />

@for (item of data().content; track item.id; let i = $index) {
  <app-question [data]="item" [index]="i + 1 + data()?.number * data()?.size" [editable]="true" />
} @empty {
  <p class="text-center">Savol topilmadi</p>
}

<p-paginator
  (onPageChange)="onPageChange($event)"
  [first]="start_page"
  [rows]="data().size"
  [totalRecords]="data()?.totalElements"
  [rowsPerPageOptions]="[10, 20, 30, 50, 100]"
/>
