<div class="flex flex-wrap align-items-center justify-content-between">
  <h4 class="mb-0">Savollar</h4>
  <p-button (click)="openAddModal()" icon="pi pi-plus" label="Yangi savol" />
</div>

<hr />

<!-- filter form -->
<app-filter (onFilter)="onFilter($event)" />

{{ data().content | json }}
@for (item of data().content; track item.id) {
  <app-question [data]="item" [editable]="true" />
} @empty {
  <p class="text-center">Savol topilmadi</p>
}

<p-paginator
  (onPageChange)="onPageChange($event)"
  [first]="0"
  [rows]="data().size"
  [totalRecords]="data()?.totalElements"
/>
