<form [formGroup]="filterForm" class="flex flex-wrap gap-2">
  <span class="p-float-label mt-2 mb-4" style="min-width: 150px">
    <input id="search" formControlName="search" type="text" pInputText />
    <label for="search">Qidirish</label>
  </span>
  <span class="p-float-label mt-2 mb-4">
    <p-multiSelect
      [style]="{ 'min-width': '180px' }"
      [options]="_subjectService.data()?.content"
      (onChange)="loadTopicsList($event)"
      (onClear)="loadTopicsList(null)"
      [filter]="false"
      formControlName="subjectIds"
      [showClear]="true"
      optionLabel="title"
      optionValue="id"
    />
    <label for="dropdown">Fan</label>
  </span>
  <span class="p-float-label mt-2 mb-4">
    <p-multiSelect
      [style]="{ 'min-width': '180px' }"
      [options]="topics$ | async"
      formControlName="topicIds"
      [showClear]="true"
      [filter]="false"
      [loading]="topicLoading"
      optionLabel="title"
      optionValue="id"
    />
    <label for="dropdown">Mavzu</label>
  </span>
  <span class="p-float-label mt-2 mb-4" style="min-width: 100px">
    <input id="size" formControlName="size" type="text" pInputText />
    <label for="size">Soni</label>
  </span>
  <button pButton label="Filter" class="mt-2 mb-4" (click)="filter()"></button>
</form>
