<form [formGroup]="form" (ngSubmit)="submit()">
  <span class="p-float-label p-fluid">
    <input formControlName="title" id="title" type="text" pInputText />
    <label for="title">Nomi</label>
  </span>

  <textarea placeholder="Izoh" formControlName="description" class="w-full" rows="5" pInputTextarea></textarea>

  <div class="form-footer">
    <p-button (click)="closeModal()" severity="warning" icon="pi pi-cancel" label="Bekor qilish" />
    <p-button [disabled]="form.invalid" class="me-0" type="submit" icon="pi pi-check" label="Saqlash" />
  </div>
</form>
