<form [formGroup]="form" (ngSubmit)="submit()" autocomplete="nope">
  <span class="p-float-label p-fluid">
    <input formControlName="fullName" id="fullName" type="text" pInputText />
    <label for="fullName">F.I.Sh</label>
  </span>

  <span class="p-float-label p-fluid">
    <input formControlName="username" autocomplete="new-username" id="username" type="text" pInputText />
    <label for="username">Login</label>
  </span>

  @if (!isEdit) {
    <span class="p-float-label p-fluid">
      <p-password
        formControlName="password"
        id="password"
        autocomplete="new-password"
        [toggleMask]="true"
        [feedback]="false"
      />
      <label for="password">Parol</label>
    </span>

    <span class="p-float-label p-fluid">
      <p-password
        formControlName="confirmPassword"
        autocomplete="confirm-password"
        [toggleMask]="true"
        [feedback]="false"
        id="confirm-password"
      />
      <label for="confirm-password">Parolni takrorlang</label>
    </span>
  }

  <span class="p-float-label p-fluid">
    <p-inputMask formControlName="contact" id="contact" mask="+999(99) 999-99-99" placeholder="+999(99) 999-99-99" />
    <label for="contact">Telefon</label>
  </span>

  <span class="p-float-label p-fluid">
    <input formControlName="email" id="email" type="text" pInputText />
    <label for="email">Email</label>
  </span>

  <div class="form-footer">
    <p-button (click)="closeModal()" severity="warning" icon="pi pi-cancel" label="Bekor qilish" />
    <p-button class="me-0" type="submit" icon="pi pi-check" label="Saqlash" />
  </div>
</form>
