<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="grid">
    <div class="col-12 md:col-6">
      <span class="p-float-label p-fluid">
        <p-dropdown
          formControlName="subjectId"
          [options]="_subjectService.data()?.content"
          (onChange)="loadTopicsList($event)"
          (onClear)="loadTopicsList(null)"
          [showClear]="true"
          [autoDisplayFirst]="false"
          [autofocus]="true"
          optionLabel="title"
          optionValue="id"
        />
        <label for="dropdown">Fan</label>
      </span>
    </div>

    <div class="col-12 md:col-6">
      <span class="p-float-label p-fluid">
        <p-dropdown
          [options]="topics$ | async"
          [showClear]="true"
          formControlName="topicId"
          [loading]="topicLoading"
          optionLabel="title"
          optionValue="id"
        />
        <label for="dropdown">Mavzu</label>
      </span>
    </div>
  </div>

  <div formArrayName="questions">
    @for (question of getQuestions().controls; track question; let i = $index) {
      <div class="grid mb-5" [formGroupName]="i">
        <div class="col-12 md:col-6">
          <div class="flex align-items-center justify-content-center">
            <span>{{ i + 1 }}.&nbsp;</span>
            <span class="p-float-label p-fluid w-full m-0">
              <input formControlName="value" id="value-{{ i }}" type="text" pInputText />
              <label for="value-{{ i }}">Savol</label>
            </span>
          </div>
        </div>

        <div class="col-12 md:col-6">
          <div class="flex align-items-center justify-content-center">
            <span class="p-float-label p-fluid m-0 w-full">
              <input formControlName="description" id="description-{{ i }}" type="text" pInputText />
              <label for="description-{{ i }}">Izoh</label>
            </span>

            <button
              (click)="removeQuestion(i)"
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-danger ml-2"
            ></button>
          </div>
        </div>

        <div class="col-12" formArrayName="answers">
          @for (answer of getAnswers(i).controls; track answer; let j = $index) {
            <div class="grid" [formGroupName]="j">
              <div class="col-12 md:col-6">
                <div class="flex align-items-center justify-content-center">
                  <span>{{ answers[j] }}&rpar;&nbsp;</span>
                  <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                      <input type="checkbox" (change)="onChange($event, i, j)" formControlName="isCorrect" />
                    </span>
                    <input type="text" pInputText formControlName="value" placeholder="Javob" />
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-6">
                <span class="p-float-label p-fluid m-0">
                  <input formControlName="description" id="description" type="text" pInputText />
                  <label for="description">Izoh</label>
                </span>
              </div>
            </div>
          }
        </div>
      </div>
    }

    <div class="flex justify-content-end mt-3">
      <button (click)="addQuestion()" pButton pRipple icon="pi pi-plus"></button>
    </div>
  </div>

  <div class="form-footer">
    <p-button (click)="closeModal()" severity="warning" icon="pi pi-cancel" label="Bekor qilish" />
    <p-button [disabled]="form.invalid" class="me-0" type="submit" icon="pi pi-check" label="Saqlash" />
  </div>
</form>
