<div class="question-block">
  <div class="question">
    <p class="question-text">
      {{ index }}. {{ data?.value }}
      @if (data?.description) {
        <i class="pi pi-info-circle text-cyan-600 ml-2" [pTooltip]="data?.description" tooltipPosition="bottom"></i>
      }
    </p>
  </div>

  <div class="answers">
    @for (answer of data?.answers; track answer; let i = $index) {
      <div class="answer">
        <p class="answer-text">
          <span [class]="answer?.isCorrect ? 'text-orange-500' : ''">{{ answers[i] }}&#41;&nbsp;</span>
          <span class="answer-value">{{ answer.value }}</span>
          @if (answer?.description) {
            <i
              class="pi pi-info-circle text-cyan-600 ml-2"
              [pTooltip]="answer?.description"
              tooltipPosition="bottom"
            ></i>
          }
        </p>
      </div>
    }
  </div>
</div>
