.question-block {
    display: block;
    border-radius: 3px;
    margin-bottom: 10px;
    box-shadow: 0 0 2px 0 var(--gray-500);

    .question-text {
        display: block;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 1rem 1rem 0 1rem;
    }

    .answers {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 1rem 0 1rem;

        .answer {
            display: block;
            margin-bottom: 1rem;
            min-width: 25%;
            width: fit-content;
            max-width: 100%;
        }
    }
}