<div class="flex flex-wrap align-items-center justify-content-between">
  <h4 class="mb-0">Mavzular</h4>
  <p-button (click)="openAddModal()" icon="pi pi-plus" label="Yangi mavzu" />
</div>

<hr />

<!-- filter form -->
<form [formGroup]="filterForm" class="flex gap-2">
  <span class="p-float-label mt-2 mb-4" style="min-width: 150px">
    <input id="search" formControlName="search" type="text" pInputText />
    <label for="search">Qidirish</label>
  </span>
  <span class="p-float-label mt-2 mb-4" style="min-width: 150px">
    <p-dropdown
      class="w-full"
      [options]="_subjectService.data()?.content"
      formControlName="subjectId"
      [showClear]="true"
      optionLabel="title"
      optionValue="id"
    />
    <label for="dropdown">Fan</label>
  </span>
</form>

<p-table
  [value]="_topicService.data().content"
  styleClass="p-datatable-gridlines p-datatable-striped"
  [tableStyle]="{ 'min-width': '500px' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th width="60px">№</th>
      <th pSortableColumn="title">Nomi<p-sortIcon field="title" /></th>
      <th pSortableColumn="subject.title">Fan<p-sortIcon field="subjectId" /></th>
      <th>Izoh</th>
      <th width="110px"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
    <tr>
      <td>{{ rowIndex + 1 }}</td>
      <td>{{ item.title }}</td>
      <td>{{ item.subject?.title }}</td>
      <td>{{ item.description }}</td>
      <td>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-pencil"
          (click)="update(item.id)"
          class="p-button-rounded p-button-warning p-button-outlined mr-2"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-trash"
          (click)="deleteDialog($event, item.id)"
          class="p-button-rounded p-button-danger p-button-outlined"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5" class="text-center">Ma'lumot yo'q</td>
    </tr>
  </ng-template>
</p-table>
