/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "./assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/mdc-light-indigo/theme.css";

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: #5a66a7;
}

.p-dialog {
    .p-dialog-content {
        overflow: visible !important;
    }

    .p-dialog-header .p-dialog-header-icon {
        width: 14px !important;
        height: 14px !important;
        min-width: 14px;
        padding: 0 !important;
    }
}

.p-dropdown.p-inputwrapper {
    width: 100% !important;

    .p-dropdown-panel.p-component {
        .p-dropdown-items-wrapper {
            max-height: 280px !important;
        }
    }
}

.form-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 1rem auto 0 auto;
}